@import '../../style/variables.css';


/*
    sample taken from repo: https://github.com/peterramsing/lost
*/
@lost gutter 10px;
.lostgrid {
    margin-top: 100px;

    div {
        lost-column: 2/4 0;
        margin-bottom: 10px;
        background-color: white;
    }

    .row {
        lost-utility: clearfix;
    }

    .quarter {
        lost-column: 1/4;
    }

    .thirds {
        lost-column: 1/3;
    }

    .half {
        lost-column: 1/2;
    }
}
