@import '../../style/variables.css';

.counter {
    --fontSize: 4rem;
    --height: 150px;
    --margin: 100px auto;
    --radius: 50%;
    --width: 150px;

    background: var(--colorGreyLight);
    border-radius: var(--radius);
    cursor: pointer;
    color: var(--colorGrey);
    font-size: var(--fontSize);
    height: var(--height);
    line-height: var(--height);
    margin: var(--margin);
    text-align: center;
    user-select: none;
    width: var(--width);

    &.maxed {
        animation: maxed .5s forwards cubic-bezier(.22,.69,.33,1.27);
    }
}

@keyframes maxed {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
